numpy>=2.2,<3
pandas>=2.2,<4
scipy>=1.14,<2
matplotlib>=3.9,<4
seaborn>=0.13,<1
requests>=2.32,<3
lxml>=5.3,<7
jupyterlab>=4.2,<5
notebook>=7.2,<8
ipykernel>=6.29,<8
nbformat>=5.10,<6
nbclient>=0.10,<1
nbconvert>=7.16,<8
