numpy==2.5.3
pandas==3.0.5
scipy==1.18.1
matplotlib==3.11.1
seaborn==0.13.2
requests==2.32.5
lxml==6.0.2
jupyterlab==4.5.10
notebook==7.5.4
ipykernel==7.3.0
nbformat==5.11.1
nbclient==0.11.0
nbconvert==7.17.1
